a {  
  &:hover {
    text-decoration: none !important;
    color: $primary-color;
  }
  
}

.skills {
  .skill-titles {
    font-size: .95em;
    font-weight: 500;
  }
  .skill-item {
    font-size: .85em;

    &::after {
      content: ", ";
    }

    &:last-child:after {
      content: '';
    }
  }
}

.resume_heading {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 0px 40px;

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    padding: 20px 40px 10px;
  }

  .personal_info {
    font-size: .9em;
    // width: 40%;
    @media screen and (max-width: 600px) {
      padding-top:10px;
      width: 100%;
    }
  }

  .name {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    font-size: 1.5em;
  }

  .header_subheading {
    font-size: 1.25em;
  }
}

.content-parent {
  display: flex;
  padding: 10px 40px 100px;
  flex-flow: row wrap;

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    padding: 0px 40px 20px 40px;
  }

  .list_block {

    .project-description {
      width: 80%;
      padding: 10px 0;

      @media screen and (max-width: 600px) {
       width: 100%;
      }

      @media print {
        font-size: .7em;
      }
    }

    .tech-used {
      width: 80%;

      &::after {
        content: ", ";
      }

      &:last-child:after {
        content: '';
      }
    }

    &.projects {
      border-bottom: 1px solid rgb(242, 242, 242);
      padding: 0 20px 10px 0 ;

      &:last-child{
        border: 0;
      }
    }
  }

  .list_block_flexed {
    display: flex;
    padding: 0 50px 10px 0;
    border-bottom: 1px solid rgb(242, 242, 242);
    &:last-child{
      border: 0;
    }
    
    .date-block {
      display: block;
      padding-right: 20px;
      font-weight: 500;
      min-width: 130px;
    }

    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: .85em;
  }

  .col-one {
    width: 70%;
    padding-right: 30px;

    @media screen and (max-width: 600px) {
      width: 100%;
      padding-right: 0px;
    }
  }
  .col-two {
    width: 30%;
    font-size: .95em;

    svg {
      font-size: 1.25em;
    }
    a {
      font-size: .85rem;

      @media print {
        font-size: .7em;
      }
    }

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  .item-titles {
    font-size: .95em;
    margin: 8px 0 2px 0;

    @media print {
      font-size: .8em;
    }
  }

  .education {
    display: flex;
    flex-flow: row wrap;

    .ed_item {
      width: 50%;
      padding: 5px 0;
    }

    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;

      .ed_item {
        width: 100%;
        padding: 5px 0;
      }
    }
  }

  .section_heading {
    font-weight: 500;
    font-size: 1.25em;
    margin: 15px 0;

    &:after {
      content:' ';
      display:block;
      border:1px solid rgb(227, 227, 227);
    }
  }

  ul {
    padding-left: 20px;
    margin-bottom: 5px;
    .small-li {
      font-size: .85em;
    }
  }

}

