.push {
  height: 100px;
}

.footer {
  height: 300px;
}

.footer {
  background-color: $primary-color;
  color: $white;

  .footer-column-wrapper {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;

    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }

    .footer-column {
      margin-bottom: 20px;
    }
  }
}