
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

html, body {
  height: 100%;
  margin: 0;
  color: $primary-font;
}

.hide-on-mobile {
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.last-item {
  margin-right: 20px;
}

.card-deck {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;

  &.card {
      margin-bottom: 50px !important;
  }
}

.jumbotron {
  border-radius: 0 !important;
  background-color: $lighten-primary !important;
  color: $white !important;

  .jumbotron-heading-container {
    width: 70%;
    margin: 0 auto;
  }
}

.content-container {
  width: 70%;
  min-height: 550px;
  padding: 50px 20px 20px;
  margin: 0 auto;

  .card {
    margin-bottom: 30px;

    a.btn-outline-success {
      color: $primary-color;
      border-color: $primary-color;

      &:hover,
      &:focus,
      &:active {
        background-color: $primary-color;
        color: $white;
      }

      &:focus,
      &:active {
        outline: 0 !important;
      }
    }
  }
}

